.puzzle-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.puzzle-fireworks-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  pointer-events: none;
}

.puzzle-canvas-wrapper {
  z-index: 2;
  overflow: hidden;
  border-radius: 50px;
}