.slide-show-container {
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(135deg, #0052D4 0%, #6FB1FC 100%);

  &__section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__lazy {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}

.slide-show-header {
}